
.jc-btn {

  &--normal {
    .q-btn__wrapper:before {
      border: 1px solid @grey-5;
    }
  }

  &--primary {
    .q-btn__wrapper:before {
      border-color: @q-color-primary--dark;
    }
  }

  &--secondary {
    .q-btn__wrapper:before {
      border-color: @q-color-secondary--dark;
    }
  }

  &--success {
    .q-btn__wrapper:before {
      border-color: @q-color-positive--dark;
    }
  }

  &--danger {
    .q-btn__wrapper:before {
      border-color: @q-color-negative--dark;
    }
  }

  &--warning {
    .q-btn__wrapper:before {
      border-color: @q-color-warning--dark;
    }
  }

  &--info {
    .q-btn__wrapper:before {
      border-color: @q-color-info--dark;
    }
  }
}
