@import "../vars";

.jc-btn {

  &--default {
    background: @color-primary;
    color: @color-primary-100;
    //.q-btn__wrapper:before {
    //}
  }

  &--danger {
    background: @color-negative;
    color: @color-negative-100;
  }

}
