/* Стиль для mdoc */

body {
  font-family: Tahoma, Geneva, sans-serif;
}

a, a:visited {
  color: #0072aa;
  text-decoration: none;
}

/* layout
----------------------------------------------------------------------------- */

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
}

.page-header-item {
  padding: 8px;
}

.page-header-item.split {
  flex-grow: 1;
}

.page-body {
  display: flex;
  flex: 1;
}

.page-tools {
  min-width: 300px;
  width: 300px;
}

.page-content {
  flex-grow: 1;
  padding-left: 50px;
  padding-right: 80px;
  padding-bottom: 80px;
}

.page-footer {
}

/* style page
----------------------------------------------------------------------------- */

.page-header {
  background-color: #455A64;
  display: flex;
}

.page-header a {
  text-decoration: none;
  color: inherit;
}

.document-title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #CFD8DC;
}

.page-header .menu-item {
  font-size: 14px;
  color: #CFD8DC;
}

.page-header .menu-item:hover {
  text-decoration: underline;
}

.page-tools {
  padding: 30px 20px 20px;
  background-color: #f7f7f7;
}

.page-footer {
  background-color: #455A64;
  padding: 10px;
}

.tools-block .tools-block-title {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 4px;
}

/* breadcrumb
----------------------------------------------------------------------------- */

.topic-breadcrumb {
  margin-top: 30px;
}

.topic-breadcrumb .breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

.topic-breadcrumb .breadcrumb > li {
  display: inline-block;
}

.topic-breadcrumb .breadcrumb > li:after {
  padding: 0 5px;
  color: #b95155;
  content: "»";
  font-size: 14px;
}

.topic-breadcrumb a {
  color: #0072aa;
}

.topic-breadcrumb a:hover {
  color: #00B0E4;
}

/* doc toc
----------------------------------------------------------------------------- */

.doc-toc {
  font-size: 14px;
}

.doc-toc ul {
  padding: 0;
}

.doc-toc li {
  list-style: none;
  margin-left: 0;
  margin-top: 1px;
}

.doc-toc li ul {
  padding-left: 16px;
}

.doc-toc li:before {
  color: #b95155;
  font-weight: bold;
  font-size: 11px;
  display: inline-block;
  content: "\2022";
  width: 12px;
}

.doc-toc li.open:before {
  content: "\02C5";
  content: "»";
}

.doc-toc li.folder:before {
  /*content: "\02c3";*/
  content: "»";
}

.doc-toc li.cur > a {
  /*font-weight: bold;*/
  color: #b95155;
  color: green;
  text-decoration: underline;
}

/* topic toc
----------------------------------------------------------------------------- */

.topic-toc {
  margin-top: 8px;
}

.topic-toc .topic-toc-title {
  font-weight: bold;
}

.topic-toc {
  font-size: 14px;
}

.topic-toc ul {
  padding-left: 20px;
}

.topic-toc li {
  list-style: none;
  margin-left: 0;
  margin-top: 1px;
}

.topic-toc li ul {
  padding-left: 16px;
}

.topic-toc li:before {
  color: #b95155;
  font-weight: bold;
  font-size: 11px;
  display: inline-block;
  content: "\2022";
  width: 12px;
}

.topic-toc li.open:before {
  content: "\02C5";
  content: "»";
}

.topic-toc li.folder:before {
  /*content: "\02c3";*/
  content: "»";
}

/* topic text
----------------------------------------------------------------------------- */

.page-content {
  font-size: 15px;
}

.topic-body code {
  padding: 1px 3px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.topic-body pre code {
  font-size: 13px;
}
.topic-body pre {
  background-color: #efefef;
  border: 1px solid #d8d8d8;
  font-size: 13px;
  padding: 10px 16px;
  line-height: 1;
}

.topic-body [data-language=console] pre {
  border: 1px solid black;
  background-color: #272822;
  padding: 8px 8px;
}

.topic-body [data-language=console] code {
  background-color: transparent;
  color: #f8f8f2;
}

.topic-body pre code {
  padding: 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.3;

  background-color: #efefef;
  color: inherit;
}

.topic-body .codeblock--title {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 11px;
  color: #990055;
  font-weight: bold;
}

.topic-body dt {
  font-weight: bold;
}

.topic-body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.topic-body table th,
.topic-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.topic-body table th {
  background-color: #f8f8f8;
}

/* builder
----------------------------------------------------------------------------- */

.builder-warning {
  background-color: rgba(252, 217, 228, 0.45);
  color: red;
  display: inline-block;
  padding: 4px;
  border: 1px solid red;
}

/* print
----------------------------------------------------------------------------- */

@media print
{
  .page-tools
  {
    display: none !important;
  }
}