/*

  Дополнительные стили для core-docs
 
----------------------------------------------------------------------------- */

/* cm-code-info
----------------------------------------------------------------------------- */

.cm-code-info {
  border: 1px solid #d6d6d6;
  margin-bottom: 20px;
  border-radius: 8px;
}

.cm-code-info ul {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  margin-top: 4px;
}

.cm-code-info li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 4px;
}

.cm-code-info li:before {
  color: #b95155;
  content: "»";
  font-size: 12px;
}

.cm-code-info legend {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 11px;
  font-weight: bold;
  color: #7c7c7c;
}

.cm-code-info--marker {
  color: #bdbdbd;
  font-size: 11px;
}

.cm-code-info--code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  color: green;
  background-color: transparent;

}

/* cm-tree-fs
----------------------------------------------------------------------------- */

.cm-tree-fs {
  border: 1px solid #d6d6d6;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 5px 10px;
}

.cm-tree-fs ul {
  padding: 0;
  margin: 0;
}
.cm-tree-fs li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.cm-tree-fs li.folder {
  background-image: url(images/folder-small.png);
}

.cm-tree-fs li.file {
  background-image: url(images/file-small.png);
}

.cm-tree-fs li .mark {
  padding-left: 5px;
  font-size: 11px;
  color: rgba(128, 128, 128, 0.56);
}
