/* Стили для baseapp и фреймов
----------------------------------------------------------------------------- */

// место для фрейма внутри диалога
.jc-dialog-frame-place {
  display: flex;
}

// диалог (q-dialog)
.jc-dialog {

  .q-dialog__inner--minimized > div {
    max-width: inherit;
  }

}

// декоратор для диалогов
.jc-decor-dialog {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;

  .jc-frame--header, .jc-frame--footer {
    flex-shrink: 0;
  }

  .jc-frame--body {
    overflow: auto;
    flex-grow: 1;
  }

  &--size__max {
    height: calc(100vh - 48px);
    max-height: calc(100vh - 48px);
    width: 100vw;
  }

}

// декоратор для страниц
.jc-decor-page {

  .jc-frame--body {
    padding: map-get($space-md, "y") map-get($space-md, "x")
  }

}

