/* цвета
----------------------------------------------------------------------------- */
@import './vars';

:root {
  --q-color-primary: @primary;
  --q-color-secondary: @secondary;
  --q-color-accent: @accent;
  --q-color-positive: @positive;
  --q-color-negative: @negative;
  --q-color-info: @info;
  --q-color-warning: @warning;
  --q-color-dark: @dark;
}
