/* quasar стили, привязанные к scope .tst-tools
----------------------------------------------------------------------------- */

.tst-tools {
  $typography-font-family: 'Tahoma', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
  $body-font-size: 12px !default;
  $button-font-size: 12px !default;
  $input-font-size: 12px !default;

  $button-line-height: 1.1em !default;

  //
  @import "~jandcode.core.apex.webapp/css/apex-base/z-quasar-style";
}
