/* Глобальные переменные
----------------------------------------------------------------------------- */

@base-font-size: 13px;

// размер шришта // https://type-scale.com/  (scale: 1.125 Major Second)
@fontsize-large-7: 2.281rem;
@fontsize-large-6: 2.027rem;
@fontsize-large-5: 1.802rem;
@fontsize-large-4: 1.602rem;
@fontsize-large-3: 1.424rem;
@fontsize-large-2: 1.266rem;
@fontsize-large-1: 1.125rem;
@fontsize-norm: 1rem;
@fontsize-small-1: 0.889rem;
@fontsize-small-2: 0.79rem;
@fontsize-small-3: 0.702rem;

//
@typography-line-height: 1.4;

//
@body-font-size: 1rem;
@body-line-height: 1.5;

// spaces
@space-base: 1rem;
@space-x-base: @space-base;
@space-y-base: @space-base;

@spaces: none, xs, sm, md, lg, xl;

@space-none-x: 0;
@space-none-y: 0;

@space-xs-x: (@space-x-base * .25);
@space-xs-y: (@space-y-base * .25);

@space-sm-x: (@space-x-base * .5);
@space-sm-y: (@space-y-base * .5);

@space-md-x: @space-x-base;
@space-md-y: @space-y-base;

@space-lg-x: (@space-x-base * 1.5);
@space-lg-y: (@space-y-base * 1.5);

@space-xl-x: (@space-x-base * 3);
@space-xl-y: (@space-y-base * 3);

// gutter
@flex-gutter: none, xs, sm, md, lg, xl;

@flex-gutter-none: 0;
@flex-gutter-xs: (@space-base * .25);
@flex-gutter-sm: (@space-base * .5);
@flex-gutter-md: @space-base;
@flex-gutter-lg: (@space-base * 1.5);
@flex-gutter-xl: (@space-base * 3);

//
