/* quasar.css для темы base
----------------------------------------------------------------------------- */
//
/* variables
----------------------------------------------------------------------------- */
//
/* quasar       
----------------------------------------------------------------------------- */
@import "~quasar/src/css/index.sass";
//

/* формируем перменные для css
----------------------------------------------------------------------------- */

:root {
  --q-color-primary--dark: #{darken($primary, 10%)};
  --q-color-primary--light: #{lighten($primary, 10%)};

  --q-color-secondary--dark: #{darken($secondary, 10%)};
  --q-color-secondary--light: #{lighten($secondary, 10%)};

  --q-color-accent--dark: #{darken($accent, 10%)};
  --q-color-accent--light: #{lighten($accent, 10%)};

  --q-color-dark--dark: #{darken($dark, 10%)};
  --q-color-dark--light: #{lighten($dark, 10%)};

  --q-color-positive--dark: #{darken($positive, 10%)};
  --q-color-positive--light: #{lighten($positive, 10%)};

  --q-color-negative--dark: #{darken($negative, 10%)};
  --q-color-negative--light: #{lighten($negative, 10%)};

  --q-color-info--dark: #{darken($info, 10%)};
  --q-color-info--light: #{lighten($info, 10%)};

  --q-color-warning--dark: #{darken($warning, 10%)};
  --q-color-warning--light: #{lighten($warning, 10%)};

}

