/* Переопределение стилей jc для темы
----------------------------------------------------------------------------- */

/* app
----------------------------------------------------------------------------- */

.jc-decor-app {
  .jc-app--header.q-header {
    background-color: #fafbfc;
    color: #6c757d;
    border-bottom: 1px solid #bbbcbd;
  }
}

/* btn
----------------------------------------------------------------------------- */

.jc-btn {

  &--normal {
    background-color: @grey-2;

    .q-btn__wrapper:before {
      border: 1px solid @grey-4;
    }
  }

  &--primary {
    background-color: @q-color-primary;
    color: white;

    .q-btn__wrapper:before {
      border: 1px solid @q-color-primary--dark;
    }
  }

  &--success {
    background-color: @q-color-positive;
    color: white;

    .q-btn__wrapper:before {
      border-color: @q-color-positive--dark;
    }
  }

  &--danger {
    background-color: @q-color-negative;
    color: white;

    .q-btn__wrapper:before {
      border: 1px solid @q-color-negative--dark;
    }
  }

  &--warning {
    background-color: @q-color-warning;
    color: white;

    .q-btn__wrapper:before {
      border: 1px solid @q-color-warning--dark;
    }
  }

  &--info {
    background-color: @q-color-info;
    color: white;

    .q-btn__wrapper:before {
      border: 1px solid @q-color-info--dark;
    }
  }

}

/* action
----------------------------------------------------------------------------- */

.jc-action {

  // caret для dropdown, если только икона, без метки
  .q-icon + .q-icon {
    font-size: 16px;
    margin-left: 4px;
    opacity: 0.5;
  }

  .q-icon.on-right {
    margin-left: 4px;
    opacity: 0.5;
  }

  &--dropdown {
    .q-btn__wrapper {
      padding-right: 6px;
    }
  }

  // пункт меню

  &--menuitem {
    .q-btn__wrapper {
      min-height: 28px;
    }

    .q-icon.on-left {
      margin-right: 12px;
      opacity: 0.5;
    }

    .q-icon.on-right {
      margin-left: 6px;
    }
  }
}