/* quasar.css для темы std
----------------------------------------------------------------------------- */
//
/* variables
----------------------------------------------------------------------------- */
$typography-font-family: 'Tahoma', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-font-size: 13px !default;
$button-font-size: 13px !default;
$input-font-size: 13px !default;

$button-line-height: 1.5 !default;

/* original
$primary   : #027BE3 !default
$secondary : #26A69A !default
$accent    : #9C27B0 !default
$dark      : #1d1d1d !default

$positive  : #21BA45 !default
$negative  : #C10015 !default
$info      : #31CCEC !default
$warning   : #F2C037 !default
*/

$primary   : #4072a8 !default
$secondary : #26A69A !default
$accent    : #9C27B0 !default
$dark      : #1d1d1d !default

$positive  : #21BA45 !default
$negative  : #C10015 !default
$info      : #31CCEC !default
$warning   : #F2C037 !default


/* quasar
----------------------------------------------------------------------------- */
@import "../base/z-quasar-style";

