
.jc-toolbar-title {

  line-height: 1;
  font-size: 21px;

  .jc-toolbar-title--text {
  }

  .jc-toolbar-title--text1 {
  }

  .jc-toolbar-title--text2 {
    font-size: 12px;
    opacity: 0.6;
  }

}
