@import "../vars";
//

.jc-panel {

  &__header.q-card__section--vert {
    padding: 0.5em 1em 0 1em;
  }

  &__header {

    .jc-toolbar-title {
      font-size: @font-size-large-1;
      font-weight: 500;
    }

  }

}