/* Стили для приложения JcDecorAppStd
----------------------------------------------------------------------------- */

.jc-decor-app {
  .jc-app--header.q-header {
    background-color: @grey-1;
    color: @grey-8;
    border-bottom: 1px solid @grey-4;
  }

  .jc-app--header {

    .jc-toolbar-title--text, .jc-toolbar-title--text1 {
      font-size: @fontsize-b4;
      font-weight: 300;
    }

    .jc-toolbar-title--text2 {
      margin-top: 0.1rem;
      font-size: @fontsize-s1;
      font-weight: 300;
    }

  }

  .jc-app--main {
    background-color: @grey-1;
  }

  .jc-frame--header {
    background-color: white;
    border-bottom: 1px solid @grey-4;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 2em;
    padding-right: 1em;

    .jc-toolbar-title--text, .jc-toolbar-title--text1 {
      font-size: @fontsize-b4;
      font-weight: 300;
    }

    .jc-toolbar-title--text2 {
      margin-top: 0.5rem;
      font-size: @fontsize-s1;
      font-weight: 300;
    }

    .jc-toolbar-logo {
      .q-icon {
        padding-right: 0.3em;
        font-size: 1.5rem;
        color: @grey-5;
      }
    }

  }

}
