/* Стили для приложения JcDecorAppStd
----------------------------------------------------------------------------- */

.jc-decor-app {
  .jc-app--header.q-header {
    background-color: @color-gray-100;
    color: @color-gray-800;
    border-bottom: 1px solid @color-gray-400;
  }

  .jc-app--header {

    .jc-toolbar-title--text, .jc-toolbar-title--text1 {
      font-size: @font-size-large-4;
      font-weight: 300;
    }

    .jc-toolbar-title--text2 {
      margin-top: 0.1rem;
      font-size: @font-size-small-1;
      font-weight: 300;
    }

  }

  .jc-app--main {
    background-color: @color-gray-100;
  }

  .jc-frame--header {
    background-color: white;
    color: @color-gray-800;

    border-bottom: 1px solid @color-gray-400;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 2em;
    padding-right: 1em;

    .jc-toolbar {
      min-height: 32px;
    }

    .jc-toolbar-title--text, .jc-toolbar-title--text1 {
      font-size: @font-size-large-4;
      font-weight: 300;
    }

    .jc-toolbar-title--text2 {
      margin-top: 0.5rem;
      font-size: @font-size-small-1;
      font-weight: 300;
    }

    .jc-toolbar-logo {
      .q-icon {
        padding-right: 0.3em;
        font-size: 1.5rem;
        color: @color-gray-500;
      }
    }

  }

}
