/* quasar.css для темы std
----------------------------------------------------------------------------- */
//
/* variables
----------------------------------------------------------------------------- */
$typography-font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$body-font-size: 13px !default;
$body-line-height: 1.5 !default$button-font-size: 13px !default;
$input-font-size: 13px !default;

$button-line-height: 1.2em !default;
$button-font-weight: normal !default

/* original
$primary   : #027BE3 !default
$secondary : #26A69A !default
$accent    : #9C27B0 !default
$dark      : #1d1d1d !default

$positive  : #21BA45 !default
$negative  : #C10015 !default
$info      : #31CCEC !default
$warning   : #F2C037 !default
*/

$primary: #4072a8 !default;
$secondary: #26A69A !default;
$accent: #9C27B0 !default;
$dark: #1d1d1d !default;

$positive: #21BA45 !default;
$negative: #C10015 !default;
$info: #31CCEC !default;
$warning: #F2C037 !default;

// типографика

//@formatter:off
$h1:        (size: 2em,    line-height: 2em,    letter-spacing: normal, weight: 300) !default
$h2:        (size: 1.8rem, line-height: 2em, letter-spacing: normal, weight: 300) !default
$h3:        (size: 1.6em,  line-height: 2em,  letter-spacing: normal, weight: 300) !default
$h4:        (size: 1.4rem, line-height: 2em, letter-spacing: normal, weight: 400) !default
$h5:        (size: 1.2rem, line-height: 2em, letter-spacing: normal, weight: 400) !default
$h6:        (size: 1rem,   line-height: 2em,   letter-spacing: normal, weight: 500) !default
//@formatter:on

/* quasar
----------------------------------------------------------------------------- */
@import "../apex-base/z-quasar-style";

/* override quasar
----------------------------------------------------------------------------- */

html {
  font-size: $body-font-size;
}